<!-- Start Card Area -->
<div class="row row--15 mt_dec--30">

    <!-- Start Single Card  -->
    <div class="col-lg-4 col-md-6 col-sm-12 col-12 mt--30">
        <div class="catagories-section radio-btn-card">
            <h5 class="title">Categories</h5>
            <ul class="catagories-box">
                <li>
                    <p class="left">
                        <input type="radio" id="test" name="radio-group">
                        Science
                    </p>
                    <p class="right">
                        (30)
                    </p>
                </li>
                <li>
                    <p class="left">
                        <input type="radio" id="test" name="radio-group">
                        Marketing
                    </p>
                    <p class="right">
                        (25)
                    </p>
                </li>
                <li>
                    <p class="left">
                        <input type="radio" id="test" name="radio-group" checked="">
                        Grapic Design
                    </p>
                    <p class="right">
                        (27)
                    </p>
                </li>
                <li>
                    <p class="left">
                        <input type="radio" id="test" name="radio-group">
                        Social Marketing
                    </p>
                    <p class="right">
                        (22)
                    </p>
                </li>
                <li>
                    <p class="left">
                        <input type="radio" id="test" name="radio-group">
                        Fitness
                    </p>
                    <p class="right">
                        (29)
                    </p>
                </li>
                <li>
                    <p class="left">
                        <input type="radio" id="test" name="radio-group">
                        Creative
                    </p>
                    <p class="right">
                        (23)
                    </p>
                </li>
                <li>
                    <p class="left">
                        <input type="radio" id="test" name="radio-group">
                        Personal
                    </p>
                    <p class="right">
                        (25)
                    </p>
                </li>
            </ul>
        </div>
    </div>
    <!-- End Single Card  -->

    <!-- Start Single Card  -->
    <div class="col-lg-4 col-md-6 col-sm-12 col-12 mt--30">
        <div class="catagories-section radio-btn-card">
            <h5 class="title">Categories</h5>
            <ul class="catagories-box">
                <li>
                    <p class="left">
                        <input type="radio" id="test" name="radio-group">
                        Science
                    </p>
                    <p class="right">
                        (30)
                    </p>
                </li>
                <li>
                    <p class="left">
                        <input type="radio" id="test" name="radio-group">
                        Marketing
                    </p>
                    <p class="right">
                        (25)
                    </p>
                </li>
                <li>
                    <p class="left">
                        <input type="radio" id="test" name="radio-group" checked="">
                        Grapic Design
                    </p>
                    <p class="right">
                        (27)
                    </p>
                </li>
                <li>
                    <p class="left">
                        <input type="radio" id="test" name="radio-group">
                        Social Marketing
                    </p>
                    <p class="right">
                        (22)
                    </p>
                </li>
                <li>
                    <p class="left">
                        <input type="radio" id="test" name="radio-group">
                        Fitness
                    </p>
                    <p class="right">
                        (29)
                    </p>
                </li>
                <li>
                    <p class="left">
                        <input type="radio" id="test" name="radio-group">
                        Creative
                    </p>
                    <p class="right">
                        (23)
                    </p>
                </li>
                <li>
                    <p class="left">
                        <input type="radio" id="test" name="radio-group">
                        Personal
                    </p>
                    <p class="right">
                        (25)
                    </p>
                </li>
            </ul>
        </div>
    </div>
    <!-- End Single Card  -->

    <!-- Start Single Card  -->
    <div class="col-lg-4 col-md-6 col-sm-12 col-12 mt--30">
        <div class="catagories-section radio-btn-card">
            <h5 class="title">Categories</h5>
            <ul class="catagories-box">
                <li>
                    <p class="left">
                        <input type="radio" id="test" name="radio-group">
                        Science
                    </p>
                    <p class="right">
                        (30)
                    </p>
                </li>
                <li>
                    <p class="left">
                        <input type="radio" id="test" name="radio-group">
                        Marketing
                    </p>
                    <p class="right">
                        (25)
                    </p>
                </li>
                <li>
                    <p class="left">
                        <input type="radio" id="test" name="radio-group" checked="">
                        Grapic Design
                    </p>
                    <p class="right">
                        (27)
                    </p>
                </li>
                <li>
                    <p class="left">
                        <input type="radio" id="test" name="radio-group">
                        Social Marketing
                    </p>
                    <p class="right">
                        (22)
                    </p>
                </li>
                <li>
                    <p class="left">
                        <input type="radio" id="test" name="radio-group">
                        Fitness
                    </p>
                    <p class="right">
                        (29)
                    </p>
                </li>
                <li>
                    <p class="left">
                        <input type="radio" id="test" name="radio-group">
                        Creative
                    </p>
                    <p class="right">
                        (23)
                    </p>
                </li>
                <li>
                    <p class="left">
                        <input type="radio" id="test" name="radio-group">
                        Personal
                    </p>
                    <p class="right">
                        (25)
                    </p>
                </li>
            </ul>
        </div>
    </div>
    <!-- End Single Card  -->

</div>
<!-- End Card Area -->