<!-- Start Header Area -->
<header class="rbt-header rbt-header-two" id="header">
    <!-- Top Navbar -->
    <div class="rbt-header-top">
        <div class="container-fluid">
            <div class="row justify-content-between">
                    <!-- Navbar Items [left] -->
                <div class="col-lg-8 col-md-8 navbar-top-left">
                    <ul>
                        <li>
                            <a href="#"><i class="feather-help-circle"></i>Have any Question?</a>
                        </li>
                        <li>
                            <a href="mailto:hello@example.com"><i class="feather-mail"></i>example@gmail.com</a>
                        </li>
                        <li>
                            <a href="tel:(305) 1234-5678"><i class="feather-phone"></i>(302) 555-0107</a>
                        </li>
                        <li>
                            <a href="profile.html"><i class="feather-user"></i>Jane Cooper</a>
                        </li>
                    </ul>
                </div>

                    <!-- Navbar Icons -->
                <div class="col-lg-4 col-md-4 navbar-top-right">
                    <ul>
                        <li>
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fab fa-linkedin-in"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Navbar -->
    <div class="rbt-header bg-white">
        <div class="container-fluid">
            <div class="row justify-content-between">
                <div class="col-xl-6 col-lg-7 col-md-4 col-sm-3 col-3 header-left">
                    <!-- Navbar Brand-->
                    <a class="rbt-logo" href="index.html">
                        <img src="assets/images/logo/logo.png" alt="Education Logo Images">
                    </a>
                    <div class="wis-primary-menu">
                        @@include('header/nav.html')
                    </div>
                </div>
                <div class="col-xl-5 col-lg-5 col-md-8 col-sm-9 col-9 header-right">

                    <!-- Navbar Icons -->
                    <ul class="icons">
                        <li class="search-area">
                            <input type="text" placeholder="Enter Your Query Here..">
                            <a href="#" class="search-btn">
                                <i class="feather-search"></i>
                            </a>
                        </li>
                        <li>
                            <a href="shop-page.html">
                                <i class="feather-shopping-cart"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- Navbar Action -->
                    <ul>
                        <li>
                            <a class="rbt-btn-icon ml--30 mr--30" href="profile.html"><i class="feather-user mr--10"></i>Admin</a>
                            <a class="rbt-btn btn-gradient btn-sm btn-rounded" href="#button">Join Now</a>
                        </li>
                    </ul>

                    <!-- Start Humberger Menu  -->
                    <div class="humberger-menu">
                        <label id="icon">
                            <i class="feather-menu"></i>
                        </label>
                    </div>
                    <!-- End Humberger Menu  -->

                </div>
            </div>
        </div>
    </div>
</header>
<!-- End Header Area -->

<!-- Mobile Menu Section -->
<div class="popup-mobile-menu">
    <div class="inner">
        <div class="header-top">
            <div class="logo">
                <a href="index.html">
                    <img class="logo-light" src="assets/images/logo/logo.png" alt="Corporate Logo">
                </a>
            </div>
            <div class="close-menu">
                <button class="close-button">
                    <i class="feather-x"></i>
                </button>
            </div>
        </div>
        <ul class="mainmenu">
            <li class="has-droupdown has-menu-child-item menu-item-open">
                <a href="#">Home <i class="feather-chevron-down"></i></a>
                <ul class="submenu">
                    <li><a href="index.html">Main Demo</a></li>
                    <li><a href="home-two.html">Online Course</a></li>
                    <li><a href="home-three.html">Online Learning</a></li>
                    <li><a href="home-four.html">Learning with internet</a></li>
                    <li><a href="home-five.html">Online Academy</a></li>
                </ul>
            </li>
            <li class="has-droupdown has-menu-child-item">
                <a href="#">Courses <i class="feather-chevron-down"></i></a>
                <ul class="submenu">
                    <li><a href="course-grid.html">Grid View Courses</a></li>
                    <li><a href="course-list.html">List View Courses</a></li>
                    <li><a href="course-details.html">Course Details</a></li>
                    <li><a href="course-slidebar.html">Course Slidebar</a></li>
                    
                </ul>
            </li>
            <li class="with-megamenu has-menu-child-item">
                <a href="#">Pages <i class="feather-chevron-down"></i></a>
                <div class="rn-megamenu">
                    <div class="wrapper">
                        <div class="row row--0">
                            <div class="col-lg-3 single-mega-item">
                                <ul class="mega-menu-item">
                                    <li><a href="about.html">About Us</a></li>
                                    <li><a href="events.html">Events</a></li>
                                    <li><a href="events-details.html">Events Details</a></li>
                                    <li><a href="zoom-meeting.html">Zoom Meeting</a></li>
                                    <li><a href="zoom-meeting-details.html">Zoom Meeting Details</a></li>
                                </ul>
                            </div>
                            <div class="col-lg-3 single-mega-item">
                                <ul class="mega-menu-item">
                                    <li><a href="blog.html">Blog</a></li>
                                    <li><a href="blog-details.html">Blog Details</a></li>
                                    <li><a href="teacher.html">Teacher</a></li>
                                    <li><a href="teacher-details.html">Teacher Details</a></li>
                                    <li><a href="profile.html">Profile</a></li>
                                </ul>
                            </div>
                            <div class="col-lg-3 single-mega-item">
                                <ul class="mega-menu-item">
                                    <li><a href="card.html">Cards</a></li>
                                    <li><a href="testimonial.html">Testimonials</a></li>
                                    <li><a href="brand.html">Brands</a></li>
                                    <li><a href="counterup.html">Counter Up</a></li>
                                    <li><a href="button.html">Button</a></li>
                                </ul>
                            </div>
                            <div class="col-lg-3 single-mega-item">
                                <ul class="mega-menu-item">
                                    <li><a href="error-page.html">Error Page</a></li>
                                    <li><a href="log-in-page.html">Log-in Page</a></li>
                                    <li><a href="register-page.html">Register Page</a></li>
                                    <li><a href="privacy-policy.html">Privacy Policy</a></li>
                                    <li><a href="coming-soon.html">Coming Soon</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="has-droupdown has-menu-child-item">
                <a href="#">Shop <i class="feather-chevron-down"></i></a>
                <ul class="submenu">
                    <li><a href="shop-page.html">Our Shop</a></li>
                    <li><a href="shop-details.html">Shop Details</a></li>
                </ul>
            </li>
            <li>
                <a href="contact-page.html">Contact</a>
            </li>
        </ul>
    </div>
</div>