    <!-- Start Header Area -->
    <header class="rbt-header rbt-header-one" id="header">
        <!-- Top Navbar -->
        <div class="rbt-header-top">
            <div class="container">
                <div class="row justify-content-between">
                        <!-- Navbar Items [left] -->
                    <div class="col-lg-8 col-md-8 navbar-top-left">
                        <ul>
                            <li>
                                <a href="#"><i class="feather-help-circle"></i>Have any Question?</a>
                            </li>
                            <li>
                                <a href="mailto:example@gmail.com"><i class="feather-mail"></i>example@gmail.com</a>
                            </li>
                            <li>
                                <a href="tel:30512345678"><i class="feather-phone"></i>(302) 555-0107</a>
                            </li>
                        </ul>
                    </div>

                        <!-- Navbar Icons -->
                    <div class="col-lg-4 col-md-4 navbar-top-right">
                        <ul>
                            <li>
                                <select>
                                    <option selected value="0">English</option>
                                    <option value="1">Bangla</option>
                                    <option value="2">Spanis</option>
                                    <option value="3">Hindi</option>
                                </select>
                            </li>
                            <li>
                                <a class="rbt-btn-icon" href="#button"><i class="feather-user mr--10"></i>Login</a>
                            </li>
                            <li>
                                <a class="rbt-text-btn" href="#button">Register</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- Navbar -->
        <div class="rbt-header">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-xl-6 col-lg-7 col-md-9 col-sm-10 col-8 header-left">
                        <!-- Navbar Brand-->
                        <a class="rbt-logo" href="index.html">
                            <img src="assets/images/logo/logo.png" alt="Education Logo Images">
                        </a>

                        <ul>
                            <li class="catagories-area">
                                <select>
                                    <option selected value="0">All Catagories</option>
                                    <option value="1">All Language</option>
                                    <option value="2">All Prices</option>
                                    <option value="3">All Skills</option>
                                </select>
                            </li>
                            <li class="search-area">
                                <input type="text" class="textbox" placeholder="Search for courses">
                                <button type="submit"><i class="feather-search"></i></button>
                            </li>
                        </ul>
                        
                    </div>
                    <div class="col-xl-5 col-lg-5 col-md-3 col-sm-2 col-4 header-right">
                        <!-- Start Nav Menu -->
                        <div class="wis-primary-menu">
                            @@include('header/nav.html')
                        </div>

                        <!-- Start Humberger Menu  -->
                        <div class="humberger-menu">
                            <label id="icon">
                                <i class="feather-menu"></i>
                            </label>
                        </div>
                        <!-- End Humberger Menu  -->

                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- End Header Area -->