<nav class="mainmenu-nav d-none d-lg-block">
    <ul class="mainmenu">
        <li class="has-droupdown has-menu-child-item menu-item-open">
            <a href="#">Home <i class="feather-chevron-down"></i></a>
            <ul class="submenu">
                <li><a href="index.html">Main Demo</a></li>
                <li><a href="home-two.html">Online Course</a></li>
                <li><a href="home-three.html">Online Learning</a></li>
                <li><a href="home-four.html">Learning with internet</a></li>
                <li><a href="home-five.html">Online Academy</a></li>
            </ul>
        </li>
        <li class="has-droupdown has-menu-child-item">
            <a href="#">Courses <i class="feather-chevron-down"></i></a>
            <ul class="submenu">
                <li><a href="course-grid.html">Grid View Courses</a></li>
                <li><a href="course-list.html">List View Courses</a></li>
                <li><a href="course-details.html">Course Details</a></li>
                <li><a href="course-slidebar.html">Course Slidebar</a></li>
                
            </ul>
        </li>
        <li class="with-megamenu has-menu-child-item">
            <a href="#">Pages <i class="feather-chevron-down"></i></a>
            <div class="rn-megamenu">
                <div class="wrapper">
                    <div class="row row--0">
                        <div class="col-lg-3 single-mega-item">
                            <ul class="mega-menu-item">
                                <li><a href="about.html">About Us</a></li>
                                <li><a href="events.html">Events</a></li>
                                <li><a href="events-details.html">Events Details</a></li>
                                <li><a href="zoom-meeting.html">Zoom Meeting</a></li>
                                <li><a href="zoom-meeting-details.html">Zoom Meeting Details</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-3 single-mega-item">
                            <ul class="mega-menu-item">
                                <li><a href="blog.html">Blog</a></li>
                                <li><a href="blog-details.html">Blog Details</a></li>
                                <li><a href="teacher.html">Teacher</a></li>
                                <li><a href="teacher-details.html">Teacher Details</a></li>
                                <li><a href="profile.html">Profile</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-3 single-mega-item">
                            <ul class="mega-menu-item">
                                <li><a href="card.html">Cards</a></li>
                                <li><a href="testimonial.html">Testimonials</a></li>
                                <li><a href="brand.html">Brands</a></li>
                                <li><a href="counterup.html">Counter Up</a></li>
                                <li><a href="button.html">Button</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-3 single-mega-item">
                            <ul class="mega-menu-item">
                                <li><a href="error-page.html">Error Page</a></li>
                                <li><a href="log-in-page.html">Log-in Page</a></li>
                                <li><a href="register-page.html">Register Page</a></li>
                                <li><a href="privacy-policy.html">Privacy Policy</a></li>
                                <li><a href="coming-soon.html">Coming Soon</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="has-droupdown has-menu-child-item">
            <a href="#">Shop <i class="feather-chevron-down"></i></a>
            <ul class="submenu">
                <li><a href="shop-page.html">Our Shop</a></li>
                <li><a href="shop-details.html">Shop Details</a></li>
            </ul>
        </li>
        <li>
            <a href="contact-page.html">Contact</a>
        </li>
    </ul>
</ul>