<!-- Start Card Area -->
<div class="row row--15">

    <!-- Start Single Card  -->
    <div class="col-lg-4 col-md-6 col-sm-6 col-12 mt--30" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
        <div class="rbt-card rbt-card-2">
            <div class="card-img">
                <a href="course-details.html">
                    <img src="assets/images/card-img/blog-card-img-9.png" alt="Card image">
                    <div class="offer bg-white">
                        <span>-50%</span>
                        <span>Off</span>
                    </div>
                </a>
            </div>
            <div class="card-body">
                <ul class="caption">
                    <li><i class="feather-book"></i>32 Lessons</li>
                    <li><i class="feather-users"></i>40 Students</li>
                </ul>
                <h5 class="card-title"><a href="course-details.html">Electrical Engineering Learning Courses.</a></h5>
                <p class="card-text">
                    Deleniti expedita eius molestiae quasi sequi commodi maxime iusto? Ea, quas odio.
                </p>
                <div class="review-area">
                    <ul class="star-icon">
                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                    </ul>
                    <div class="review-text">
                        (17 Reviews)
                    </div>
                </div>
                <div class="card-bottom">
                    <div class="price">
                        <span class="current-price">$75</span>
                        <span class="off-price">$150</span>
                    </div>
                    <a class="rbt-btn-link btn-link-md stretched-link" href="course-details.html">Learn More <i class="feather-arrow-right ml--5"></i></a>
                </div>

            </div>
        </div>
    </div>
    <!-- End Single Card  -->

    <!-- Start Single Card  -->
    <div class="col-lg-4 col-md-6 col-sm-6 col-12 mt--30" data-sal-delay="200" data-sal="slide-up" data-sal-duration="800">
        <div class="rbt-card rbt-card-2">
            <div class="card-img">
                <a href="course-details.html">
                    <img src="assets/images/card-img/blog-card-img-10.png" alt="Card image">
                    <div class="offer bg-white">
                        <span>-50%</span>
                        <span>Off</span>
                    </div>
                </a>
            </div>
            <div class="card-body">
                <ul class="caption">
                    <li><i class="feather-book"></i>17 Lessons</li>
                    <li><i class="feather-users"></i>65 Students</li>
                </ul>
                <h5 class="card-title"><a href="course-details.html">Mechanical Engineering learning Courses.</a></h5>
                <p class="card-text">
                    Possimus obcaecati reprehenderit alias ex veritatis, corrupti ab quis cumque id.
                </p>
                <div class="review-area">
                    <ul class="star-icon">
                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                    </ul>
                    <div class="review-text">
                        (15 Reviews)
                    </div>
                </div>
                <div class="card-bottom">
                    <div class="price">
                        <span class="current-price">$85</span>
                        <span class="off-price">$170</span>
                    </div>
                    <a class="rbt-btn-link btn-link-md stretched-link" href="course-details.html">Learn More <i class="feather-arrow-right ml--5"></i></a>
                </div>

            </div>
        </div>
    </div>
    <!-- End Single Card  -->

    <!-- Start Single Card  -->
    <div class="col-lg-4 col-md-6 col-sm-6 col-12 mt--30" data-sal-delay="250" data-sal="slide-up" data-sal-duration="800">
        <div class="rbt-card rbt-card-2">
            <div class="card-img">
                <a href="course-details.html">
                    <img src="assets/images/card-img/blog-card-img-11.png" alt="Card image">
                    <div class="offer bg-white">
                        <span>-50%</span>
                        <span>Off</span>
                    </div>
                </a>
            </div>
            <div class="card-body">
                <ul class="caption">
                    <li><i class="feather-book"></i>19 Lessons</li>
                    <li><i class="feather-users"></i>75 Students</li>
                </ul>
                <h5 class="card-title"><a href="course-details.html">Web Design - Exclusive Courses.</a></h5>
                <p class="card-text">
                    Amet ea officiis nisi nesciunt repellat quisquam deleniti dolorum repudiandae.
                </p>
                <div class="review-area">
                    <ul class="star-icon">
                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                    </ul>
                    <div class="review-text">
                        (18 Reviews)
                    </div>
                </div>
                <div class="card-bottom">
                    <div class="price">
                        <span class="current-price">$70</span>
                        <span class="off-price">$140</span>
                    </div>
                    <a class="rbt-btn-link btn-link-md stretched-link" href="course-details.html">Learn More <i class="feather-arrow-right ml--5"></i></a>
                </div>

            </div>
        </div>
    </div>
    <!-- End Single Card  -->

</div>
<!-- End Card Area -->