<!-- Start Card Area -->
<div class="rbt-slider-area card-slider-1 responsive">

    <!-- Start Single Card  -->
    <div class="single-slider">
        <div class="rbt-card rbt-card-1 card-bg-1">
            <div class="card-body">
                <div class="card-icon">
                    <img src="assets/images/card-img/card-icon/card-icon-1.png" alt="card-icon">
                </div>
                <h5 class="card-title"><a href="about.html">Best Coaching</a></h5>
                <p class="card-text">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minima error reiciendis.
                </p>
                <a class="rbt-btn-link btn-link-md stretched-link" href="about.html">Learn More<i class="feather-arrow-right ml--5"></i></a>
            </div>
        </div>
    </div>
    <!-- End Single Card  -->

    <!-- Start Single Card  -->
    <div class="single-slider">
        <div class="rbt-card rbt-card-1 card-bg-2">
            <div class="card-body">
                <div class="card-icon">
                    <img src="assets/images/card-img/card-icon/card-icon-2.png" alt="card-icon">
                </div>
                <h5 class="card-title"><a href="about.html">Books &amp; Librery</a></h5>
                <p class="card-text">
                    Amet neque nobis, in rem eum tenetur maiores exercitationem quis enim.
                </p>
                <a class="rbt-btn-link btn-link-md stretched-link" href="about.html">Learn More<i class="feather-arrow-right ml--5"></i></a>
            </div>
        </div>
    </div>
    <!-- End Single Card  -->

    <!-- Start Single Card  -->
    <div class="single-slider">
        <div class="rbt-card rbt-card-1 card-bg-3">
            <div class="card-body">
                <div class="card-icon">
                    <img src="assets/images/card-img/card-icon/card-icon-3.png" alt="card-icon">
                </div>
                <h5 class="card-title"><a href="about.html">Online Learning</a></h5>
                <p class="card-text">
                    Mollitia quaerat vitae nisi, corporis culpa autem architecto officia molestias.
                </p>
                <a class="rbt-btn-link btn-link-md stretched-link" href="about.html">Learn More<i class="feather-arrow-right ml--5"></i></a>
            </div>
        </div>
    </div>
    <!-- End Single Card  -->

    <!-- Start Single Card  -->
    <div class="single-slider">
        <div class="rbt-card rbt-card-1 card-bg-4">
            <div class="card-body">
                <div class="card-icon">
                    <img src="assets/images/card-img/card-icon/card-icon-4.png" alt="card-icon">
                </div>
                <h5 class="card-title"><a href="about.html">Qualified Teacher</a></h5>
                <p class="card-text">
                    Perferendis molestias esse fugit corrupti adipisci eligendi qu veritatis.
                </p>
                <a class="rbt-btn-link btn-link-md stretched-link" href="about.html">Learn More<i class="feather-arrow-right ml--5"></i></a>
            </div>
        </div>
    </div>
    <!-- End Single Card  -->

    <!-- Start Single Card  -->
    <div class="single-slider">
        <div class="rbt-card rbt-card-1 card-bg-1">
            <div class="card-body">
                <div class="card-icon">
                    <img src="assets/images/card-img/card-icon/card-icon-1.png" alt="card-icon">
                </div>
                <h5 class="card-title"><a href="about.html">Best Coaching</a></h5>
                <p class="card-text">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minima error reiciendis.
                </p>
                <a class="rbt-btn-link btn-link-md stretched-link" href="about.html">Learn More<i class="feather-arrow-right ml--5"></i></a>
            </div>
        </div>
    </div>
    <!-- End Single Card  -->

    <!-- Start Single Card  -->
    <div class="single-slider">
        <div class="rbt-card rbt-card-1 card-bg-2">
            <div class="card-body">
                <div class="card-icon">
                    <img src="assets/images/card-img/card-icon/card-icon-2.png" alt="card-icon">
                </div>
                <h5 class="card-title"><a href="about.html">Books &amp; Librery</a></h5>
                <p class="card-text">
                    Amet neque nobis, in rem eum tenetur maiores exercitationem quis enim.
                </p>
                <a class="rbt-btn-link btn-link-md stretched-link" href="about.html">Learn More<i class="feather-arrow-right ml--5"></i></a>
            </div>
        </div>
    </div>
    <!-- End Single Card  -->

    <!-- Start Single Card  -->
    <div class="single-slider">
        <div class="rbt-card rbt-card-1 card-bg-3">
            <div class="card-body">
                <div class="card-icon">
                    <img src="assets/images/card-img/card-icon/card-icon-3.png" alt="card-icon">
                </div>
                <h5 class="card-title"><a href="about.html">Online Learning</a></h5>
                <p class="card-text">
                    Mollitia quaerat vitae nisi, corporis culpa autem architecto officia molestias.
                </p>
                <a class="rbt-btn-link btn-link-md stretched-link" href="about.html">Learn More<i class="feather-arrow-right ml--5"></i></a>
            </div>
        </div>
    </div>
    <!-- End Single Card  -->

    <!-- Start Single Card  -->
    <div class="single-slider">
        <div class="rbt-card rbt-card-1 card-bg-4">
            <div class="card-body">
                <div class="card-icon">
                    <img src="assets/images/card-img/card-icon/card-icon-4.png" alt="card-icon">
                </div>
                <h5 class="card-title"><a href="about.html">Qualified Teacher</a></h5>
                <p class="card-text">
                    Perferendis molestias esse fugit corrupti adipisci eligendi qu veritatis.
                </p>
                <a class="rbt-btn-link btn-link-md stretched-link" href="about.html">Learn More<i class="feather-arrow-right ml--5"></i></a>
            </div>
        </div>
    </div>
    <!-- End Single Card  -->

    <!-- Start Single Card  -->
    <div class="single-slider">
        <div class="rbt-card rbt-card-1 card-bg-1">
            <div class="card-body">
                <div class="card-icon">
                    <img src="assets/images/card-img/card-icon/card-icon-1.png" alt="card-icon">
                </div>
                <h5 class="card-title"><a href="about.html">Best Coaching</a></h5>
                <p class="card-text">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minima error reiciendis.
                </p>
                <a class="rbt-btn-link btn-link-md stretched-link" href="about.html">Learn More<i class="feather-arrow-right ml--5"></i></a>
            </div>
        </div>
    </div>
    <!-- End Single Card  -->

    <!-- Start Single Card  -->
    <div class="single-slider">
        <div class="rbt-card rbt-card-1 card-bg-2">
            <div class="card-body">
                <div class="card-icon">
                    <img src="assets/images/card-img/card-icon/card-icon-2.png" alt="card-icon">
                </div>
                <h5 class="card-title"><a href="about.html">Books &amp; Librery</a></h5>
                <p class="card-text">
                    Amet neque nobis, in rem eum tenetur maiores exercitationem quis enim.
                </p>
                <a class="rbt-btn-link btn-link-md stretched-link" href="about.html">Learn More<i class="feather-arrow-right ml--5"></i></a>
            </div>
        </div>
    </div>
    <!-- End Single Card  -->
</div>
<!-- End Card Area -->