<!-- Start Card Area -->
<div class="row row--15 mt_dec--30">

    <!-- Start Single Card  -->
    <div class="col-lg-4 col-md-6 col-sm-6 col-12 mt--30" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
        <div class="rbt-card rbt-card-3">
            <div class="card-img">
                <a href="blog-details.html">
                    <img src="assets/images/card-img/blog-card-img-1.png" alt="Card image">
                    <div class="img-tag">
                        <span class="icon">
                            <i class="feather-tag"></i>
                        </span>
                        <span class="content">
                            Art
                        </span>
                    </div>
                </a>
            </div>
            <div class="card-body">
                <div class="card-caption">
                    <ul class="card-caption-left">
                        <li class="post-man-img">
                            <a href=""><img src="assets/images/testimonials-img/postman.png" alt="Post Man Image"></a>
                        </li>
                        <li class="post-man-name">
                            <a href="">Cris Woakes</a> 
                        </li>
                    </ul>
                    <ul class="card-caption-right">
                        <li>
                            <span>
                                <i class="feather-calendar"></i>
                            </span>
                            <span>
                                Nov 04, 2019
                            </span>
                        </li>
                        <li>
                            <span>
                                <i class="feather-eye"></i>
                            </span>
                            <span>
                                2.5k views
                            </span>
                        </li>
                    </ul>
                </div>
                <h5 class="card-title"><a href="blog-details.html">Creative Art - Progress Courses.</a></h5>
                <p class="card-text">
                    Reprehenderit nisi adipisci rem deserunt fugit quaerat voluptateamet consectetur adipisicing ipsum dolor elit.
                </p>
                <a class="rbt-btn-link btn-link-md stretched-link" href="blog-details.html">Learn More<i class="feather-arrow-right"></i></a>
            </div>
        </div>
    </div>
    <!-- End Single Card  -->

    <!-- Start Single Card  -->
    <div class="col-lg-4 col-md-6 col-sm-6 col-12 mt--30" data-sal-delay="200" data-sal="slide-up" data-sal-duration="800">
        <div class="rbt-card rbt-card-3">
            <div class="card-img">
                <a href="blog-details.html">
                    <img src="assets/images/card-img/card-img-111.png" alt="Card image">
                    <div class="img-tag">
                        <span class="icon">
                            <i class="feather-tag"></i>
                        </span>
                        <span class="content">
                            Degree
                        </span>
                    </div>
                </a>
            </div>
            <div class="card-body">
                <div class="card-caption">
                    <ul class="card-caption-left">
                        <li class="post-man-img">
                            <a href=""><img src="assets/images/testimonials-img/postman-2.png" alt="Post Man Image"></a>
                        </li>
                        <li class="post-man-name">
                            <a href="">Elee Tailor</a> 
                        </li>
                    </ul>
                    <ul class="card-caption-right">
                        <li>
                            <span>
                                <i class="feather-calendar"></i>
                            </span>
                            <span>
                                Dec 01, 2019
                            </span>
                        </li>
                        <li>
                            <span>
                                <i class="feather-eye"></i>
                            </span>
                            <span>                               
                                2.2k views
                            </span>
                        </li>
                    </ul>
                </div>
                <h5 class="card-title"><a href="blog-details.html">Degree - Computer Science Engineering.</a></h5>
                <p class="card-text">
                    Debitis blanditiis adipisicing elit dicta facilis mollitia corrupti laboriosam consequuntur ad eum error.
                </p>
                <a class="rbt-btn-link btn-link-md stretched-link" href="blog-details.html">Learn More<i class="feather-arrow-right"></i></a>
            </div>
        </div>
    </div>
    <!-- End Single Card  -->

    <!-- Start Single Card  -->
    <div class="col-lg-4 col-md-6 col-sm-6 col-12 mt--30" data-sal-delay="250" data-sal="slide-up" data-sal-duration="800">
        <div class="rbt-card rbt-card-3">
            <div class="card-img">
                <a href="blog-details.html">
                    <img src="assets/images/card-img/card-img-110.png" alt="Card image">
                    <div class="img-tag">
                        <span class="icon">
                            <i class="feather-tag"></i>
                        </span>
                        <span class="content">
                            Design
                        </span>
                    </div>
                </a>
            </div>
            <div class="card-body">
                <div class="card-caption">
                    <ul class="card-caption-left">
                        <li class="post-man-img">
                            <a href=""><img src="assets/images/testimonials-img/postman-3.png" alt="Post Man Image"></a>
                        </li>
                        <li class="post-man-name">
                            <a href="">S. Williams</a> 
                        </li>
                    </ul>
                    <ul class="card-caption-right">
                        <li>
                            <span>
                                <i class="feather-calendar"></i>
                            </span>
                            <span>
                                Dec 24, 2019
                            </span>
                        </li>
                        <li>
                            <span>
                                <i class="feather-eye"></i>
                            </span>
                            <span>
                                1.5k views
                            </span>
                        </li>
                    </ul>
                </div>
                <h5 class="card-title"><a href="blog-details.html">Graphic Design - Advanced Courses.</a></h5>
                <p class="card-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae dolorem quisquam consequuntur amet tempora.
                </p>
                <a class="rbt-btn-link btn-link-md stretched-link" href="blog-details.html">Learn More<i class="feather-arrow-right"></i></a>
            </div>
        </div>
    </div>
    <!-- End Single Card  -->

</div>
<!-- End Card Area -->