<!-- Start Card Area -->
<div class="row row--15 mt_dec--30">

    <!-- Start Single Card  -->
    <div class="col-lg-4 col-md-6 col-sm-6 col-12 mt--30" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
        <div class="rbt-card rbt-card-2">
            <div class="card-img">
                <a href="course-details.html">
                    <img src="assets/images/card-img/blog-card-img-5.png" alt="Card image">
                    <div class="offer bg-white">
                        <span>-50%</span>
                        <span>Off</span>
                    </div>
                </a>
            </div>
            <div class="card-body">
                <ul class="caption">
                    <li><i class="feather-book"></i>25 Lessons</li>
                    <li><i class="feather-users"></i>60 Students</li>
                </ul>
                <h5 class="card-title"><a href="course-details.html">Computer Engineering Learning Courses.</a></h5>
                <p class="card-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, adipisci.
                </p>
                <div class="review-area">
                    <ul class="star-icon">
                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                    </ul>
                    <div class="review-text">
                        (42 Reviews)
                    </div>
                </div>
                <div class="card-bottom">
                    <div class="price">
                        <span class="current-price">$90</span>
                        <span class="off-price">$180</span>
                    </div>
                    <a class="rbt-btn-link btn-link-md stretched-link" href="course-details.html">Learn More <i class="feather-arrow-right ml--5"></i></a>
                </div>

            </div>
        </div>
    </div>
    <!-- End Single Card  -->

    <!-- Start Single Card  -->
    <div class="col-lg-4 col-md-6 col-sm-6 col-12 mt--30" data-sal-delay="200" data-sal="slide-up" data-sal-duration="800">
        <div class="rbt-card rbt-card-2">
            <div class="card-img">
                <a href="course-details.html">
                    <img src="assets/images/card-img/blog-card-img-7.png" alt="Card image">
                    <div class="offer bg-white">
                        <span>-50%</span>
                        <span>Off</span>
                    </div>
                </a>
            </div>
            <div class="card-body">
                <ul class="caption">
                    <li><i class="feather-book"></i>12 Lessons</li>
                    <li><i class="feather-users"></i>50 Students</li>
                </ul>
                <h5 class="card-title"><a href="course-details.html">Graphic Design - Advanced Courses.</a></h5>
                <p class="card-text">
                    Voluptatum a eos laborum temporibus non nihil laborum id neque quis alias.
                </p>
                <div class="review-area">
                    <ul class="star-icon">
                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                    </ul>
                    <div class="review-text">
                        (15 Reviews)
                    </div>
                </div>
                <div class="card-bottom">
                    <div class="price">
                        <span class="current-price">$60</span>
                        <span class="off-price">$120</span>
                    </div>
                    <a class="rbt-btn-link btn-link-md stretched-link" href="course-details.html">Learn More <i class="feather-arrow-right ml--5"></i></a>
                </div>

            </div>
        </div>
    </div>
    <!-- End Single Card  -->

    <!-- Start Single Card  -->
    <div class="col-lg-4 col-md-6 col-sm-6 col-12 mt--30" data-sal-delay="250" data-sal="slide-up" data-sal-duration="800">
        <div class="rbt-card rbt-card-2">
            <div class="card-img">
                <a href="course-details.html">
                    <img src="assets/images/card-img/blog-card-img-8.png" alt="Card image">
                    <div class="offer bg-white">
                        <span>-50%</span>
                        <span>Off</span>
                    </div>
                </a>
            </div>
            <div class="card-body">
                <ul class="caption">
                    <li><i class="feather-book"></i>15 Lessons</li>
                    <li><i class="feather-users"></i>80 Students</li>
                </ul>
                <h5 class="card-title"><a href="course-details.html">Web Devolopment - Crush Courses.</a></h5>
                <p class="card-text">
                    Dolorem repellat tenetur saepe veniam unde consectetur. Molestias, distinctio.
                </p>
                <div class="review-area">
                    <ul class="star-icon">
                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                    </ul>
                    <div class="review-text">
                        (22 Reviews)
                    </div>
                </div>
                <div class="card-bottom">
                    <div class="price">
                        <span class="current-price">$80</span>
                        <span class="off-price">$160</span>
                    </div>
                    <a class="rbt-btn-link btn-link-md stretched-link" href="course-details.html">Learn More <i class="feather-arrow-right ml--5"></i></a>
                </div>

            </div>
        </div>
    </div>
    <!-- End Single Card  -->

</div>
<!-- End Card Area -->