<!-- Start Card Area -->
<div class="row row--15 mt_dec--30">

    <!-- Start Single Card  -->
    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mt--30">
        <div class="rbt-card rbt-zoom-card">
            <div class="card-img">
                <a href="#">
                    <img src="assets/images/card-img/zoom-meeting/zoom-img(6).png" alt="Card image">
                </a>
            </div>
            <div class="card-body">
                <h5 class="card-title"><a href="#">How to skill yourself?</a></h5>
                <div class="content">
                    <div class="calendar-box">
                        <span class="calendar-icon">
                            <i class="feather-calendar"></i>
                        </span>
                        <span class="text">
                            28/06/2020
                        </span>
                    </div>
                    <div class="time-box">
                        <span class="clock-icon">
                            <i class="feather-clock"></i>
                        </span>
                        <span class="text">
                            01:30 minutes
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Single Card  -->

    <!-- Start Single Card  -->
    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mt--30">
        <div class="rbt-card rbt-zoom-card">
            <div class="card-img">
                <a href="#">
                    <img src="assets/images/card-img/zoom-meeting/zoom-img(5).png" alt="Card image">
                </a>
            </div>
            <div class="card-body">
                <h5 class="card-title"><a href="#">How to skill yourself?</a></h5>
                <div class="content">
                    <div class="calendar-box">
                        <span class="calendar-icon">
                            <i class="feather-calendar"></i>
                        </span>
                        <span class="text">
                            28/06/2020
                        </span>
                    </div>
                    <div class="time-box">
                        <span class="clock-icon">
                            <i class="feather-clock"></i>
                        </span>
                        <span class="text">
                            01:30 minutes
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Single Card  -->

    <!-- Start Single Card  -->
    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mt--30">
        <div class="rbt-card rbt-zoom-card">
            <div class="card-img">
                <a href="#">
                    <img src="assets/images/card-img/zoom-meeting/zoom-img(4).png" alt="Card image">
                </a>
            </div>
            <div class="card-body">
                <h5 class="card-title"><a href="#">How to skill yourself?</a></h5>
                <div class="content">
                    <div class="calendar-box">
                        <span class="calendar-icon">
                            <i class="feather-calendar"></i>
                        </span>
                        <span class="text">
                            28/06/2020
                        </span>
                    </div>
                    <div class="time-box">
                        <span class="clock-icon">
                            <i class="feather-clock"></i>
                        </span>
                        <span class="text">
                            01:30 minutes
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Single Card  -->

    <!-- Start Single Card  -->
    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mt--30">
        <div class="rbt-card rbt-zoom-card">
            <div class="card-img">
                <a href="#">
                    <img src="assets/images/card-img/zoom-meeting/zoom-img(3).png" alt="Card image">
                </a>
            </div>
            <div class="card-body">
                <h5 class="card-title"><a href="#">How to skill yourself?</a></h5>
                <div class="content">
                    <div class="calendar-box">
                        <span class="calendar-icon">
                            <i class="feather-calendar"></i>
                        </span>
                        <span class="text">
                            28/06/2020
                        </span>
                    </div>
                    <div class="time-box">
                        <span class="clock-icon">
                            <i class="feather-clock"></i>
                        </span>
                        <span class="text">
                            01:30 minutes
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Single Card  -->

</div>
<!-- End Card Area -->