<!-- Start Card Area -->
<div class="row row--15 mt_dec--30 rbt-badge-area">

    <!-- Start Single Card  -->
    <div class="col-lg-4 col-md-6 col-sm-6 col-12 mt--30" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
        <div class="rbt-card rbt-badge-card badge-bg-1">
            <div class="badge-card-img">
                <img src="assets/images/card-img/badge/badge-card-img-4.png" alt="Badge Card Image">
            </div>
            <div class="card-body">
                <h5 class="card-title"><a href="about.html">Learn new skills</a></h5>
                <p class="card-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                </p>
            </div>
        </div>
    </div>
    <!-- End Single Card  -->

    <!-- Start Single Card  -->
    <div class="col-lg-4 col-md-6 col-sm-6 col-12 mt--30" data-sal-delay="200" data-sal="slide-up" data-sal-duration="800">
        <div class="rbt-card rbt-badge-card badge-bg-2">
            <div class="badge-card-img">
                <img src="assets/images/card-img/badge/badge-card-img-5.png" alt="Badge Card Image">
            </div>
            <div class="card-body">
                <h5 class="card-title"><a href="about.html">Expert Instructor</a></h5>
                <p class="card-text">
                    Placeat nam libero sint maxime facere expedita.
                </p>
            </div>
        </div>
    </div>
    <!-- End Single Card  -->

    <!-- Start Single Card  -->
    <div class="col-lg-4 col-md-6 col-sm-6 col-12 mt--30" data-sal-delay="250" data-sal="slide-up" data-sal-duration="800">
        <div class="rbt-card rbt-badge-card badge-bg-3">
            <div class="badge-card-img">
                <img src="assets/images/card-img/badge/badge-card-img-6.png" alt="Badge Card Image">
            </div>
            <div class="card-body">
                <h5 class="card-title"><a href="about.html">Lifetime Access</a></h5>
                <p class="card-text">
                    Laborum optio facere dolore earum quis impedit.
                </p>
            </div>
        </div>
    </div>
    <!-- End Single Card  -->

</div>
<!-- End Card Area -->