<!-- Start Card Area -->
<div class="row row--15 mt_dec--30">

    <!-- Start Single Card  -->
    <div class="col-lg-4 col-md-6 col-sm-12 col-12 mt--30">
        <div class="subject-card text-center">
            <div class="icon-img">
                <img src="assets/images/card-img/card-icon/card-icon-5.png" alt="Icon Image">
            </div>
            <h6 class="title"><a href="course-details.html">Advanced Programming</a></h6>
            <div class="course-plan">
                <div class="lessons">
                    <span><i class="feather-book"></i></span>
                    36 Lessons
                </div>
                <div class="vedios">
                    <span><i class="feather-youtube"></i></span>
                    12 Courses
                </div>
            </div>
        </div>
    </div>
    <!-- End Single Card  -->

    <!-- Start Single Card  -->
    <div class="col-lg-4 col-md-6 col-sm-12 col-12 mt--30">
        <div class="subject-card text-center">
            <div class="icon-img">
                <img src="assets/images/card-img/card-icon/card-icon-5.png" alt="Icon Image">
            </div>
            <h6 class="title"><a href="course-details.html">Photoshop Design</a></h6>
            <div class="course-plan">
                <div class="lessons">
                    <span><i class="feather-book"></i></span>
                    30 Lessons
                </div>
                <div class="vedios">
                    <span><i class="feather-youtube"></i></span>
                    10 Courses
                </div>
            </div>
        </div>
    </div>
    <!-- End Single Card  -->

    <!-- Start Single Card  -->
    <div class="col-lg-4 col-md-6 col-sm-12 col-12 mt--30">
        <div class="subject-card text-center">
            <div class="icon-img">
                <img src="assets/images/card-img/card-icon/card-icon-5.png" alt="Icon Image">
            </div>
            <h6 class="title"><a href="course-details.html">Computer Science</a></h6>
            <div class="course-plan">
                <div class="lessons">
                    <span><i class="feather-book"></i></span>
                    26 Lessons
                </div>
                <div class="vedios">
                    <span><i class="feather-youtube"></i></span>
                    15 Courses
                </div>
            </div>
        </div>
    </div>
    <!-- End Single Card  -->

</div>
<!-- End Card Area -->