<!-- Start About Wisedu Area -->
<div class="rbt-about-wisedu-area bg-color-two rbt-section-gap">
    <div class="container">
        <div class="row row--15 align-items-center mt_dec--30">
            <div class="col-lg-6 col-md-12 col-sm-12 col-12 mt--30">
                <div class="inner-content">
                    <p class="title-badge color-secondary">Think about wisedu</p>
                    <h3 class="title">Online Coaching Lessons For Remote Learning <span>Know About WisEdu</span>  platform.</h3>
                    <p class="inner-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do consectetur eiusmod tempor incididunt ut labor magna aliqu. enim ad minim veniam consectetur eiusmod tempor incididunt ut labor magna our enim aliqu, Ut enim magna our enim ad minim veniam.</p>
                    <a class="rbt-btn btn-large" href="about.html">Know More<i class="feather-arrow-right"></i></a>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-12 mt--30">
                <div class="inner-img">
                    <img src="assets/images/about-img/about-img-1.png" alt="About Image">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End About Wisedu Area -->