<!-- Start Card Area -->
<div class="row row--15 mt_dec--30">

    <!-- Start Single Card  -->
    <div class="col-lg-4 col-md-6 col-sm-12 col-12 mt--30">
        <div class="info-card meeting-section">
            <div class="title">Meeting Info</div>
            <ul class="info-list">
                <li>
                    <div class="left-side">
                        <span class="icon">
                            <i class="feather-user"></i>
                        </span>
                        <span class="text">
                            Hosted By
                        </span>
                    </div>
                    <div class="right-side">
                        John Lee
                    </div>
                </li>
                <li>
                    <div class="left-side">
                        <span class="icon">
                            <i class="feather-clock"></i>
                        </span>
                        <span class="text">
                            Start
                        </span>
                    </div>
                    <div class="right-side">
                        Jun 24, 2020 11:30pm
                    </div>
                </li>
                <li>
                    <div class="left-side">
                        <span class="icon">
                            <i class="feather-book"></i>
                        </span>
                        <span class="text">
                            Category
                        </span>
                    </div>
                    <div class="right-side">
                        Web Design
                    </div>
                </li>
                <li>
                    <div class="left-side">
                        <span class="icon">
                            <i class="feather-bar-chart"></i>
                        </span>
                        <span class="text">
                            Duration
                        </span>
                    </div>
                    <div class="right-side">
                        30 minutes
                    </div>
                </li>
                <li>
                    <div class="left-side">
                        <span class="icon">
                            <i class="feather-users"></i>
                        </span>
                        <span class="text">
                            Meeting id
                        </span>
                    </div>
                    <div class="right-side">
                        98765432102
                    </div>
                </li>
                <li>
                    <div class="left-side">
                        <span class="icon">
                            <i class="feather-globe"></i>
                        </span>
                        <span class="text">
                            Timezone
                        </span>
                    </div>
                    <div class="right-side">
                        Atlantic/Amazon
                    </div>
                </li>
            </ul>
            <div class="note-text">
                <span>Note:</span> The countdown time is shown based on your local timezone
            </div>
            <div class="meeting-btn-group text-center">
                <a class="rbt-btn btn-md" href="#button">Join Meeting via Zoom App</a>
                <a class="rbt-btn btn-md meeting-btn-2 mt--10" href="#button">Join via Web Browser</a>
            </div>
        </div>
    </div>
    <!-- End Single Card  -->

    <!-- Start Single Card  -->
    <div class="col-lg-4 col-md-6 col-sm-12 col-12 mt--30">
        <div class="info-card meeting-section">
            <div class="title">Meeting Info</div>
            <ul class="info-list">
                <li>
                    <div class="left-side">
                        <span class="icon">
                            <i class="feather-user"></i>
                        </span>
                        <span class="text">
                            Hosted By
                        </span>
                    </div>
                    <div class="right-side">
                        John Lee
                    </div>
                </li>
                <li>
                    <div class="left-side">
                        <span class="icon">
                            <i class="feather-clock"></i>
                        </span>
                        <span class="text">
                            Start
                        </span>
                    </div>
                    <div class="right-side">
                        Jun 24, 2020 11:30pm
                    </div>
                </li>
                <li>
                    <div class="left-side">
                        <span class="icon">
                            <i class="feather-book"></i>
                        </span>
                        <span class="text">
                            Category
                        </span>
                    </div>
                    <div class="right-side">
                        Web Design
                    </div>
                </li>
                <li>
                    <div class="left-side">
                        <span class="icon">
                            <i class="feather-bar-chart"></i>
                        </span>
                        <span class="text">
                            Duration
                        </span>
                    </div>
                    <div class="right-side">
                        30 minutes
                    </div>
                </li>
                <li>
                    <div class="left-side">
                        <span class="icon">
                            <i class="feather-users"></i>
                        </span>
                        <span class="text">
                            Meeting id
                        </span>
                    </div>
                    <div class="right-side">
                        98765432102
                    </div>
                </li>
                <li>
                    <div class="left-side">
                        <span class="icon">
                            <i class="feather-globe"></i>
                        </span>
                        <span class="text">
                            Timezone
                        </span>
                    </div>
                    <div class="right-side">
                        Atlantic/Amazon
                    </div>
                </li>
            </ul>
            <div class="note-text">
                <span>Note:</span> The countdown time is shown based on your local timezone
            </div>
            <div class="meeting-btn-group text-center">
                <a class="rbt-btn btn-md" href="#button">Join Meeting via Zoom App</a>
                <a class="rbt-btn btn-md meeting-btn-2 mt--10" href="#button">Join via Web Browser</a>
            </div>
        </div>
    </div>
    <!-- End Single Card  -->

    <!-- Start Single Card  -->
    <div class="col-lg-4 col-md-6 col-sm-12 col-12 mt--30">
        <div class="info-card meeting-section">
            <div class="title">Meeting Info</div>
            <ul class="info-list">
                <li>
                    <div class="left-side">
                        <span class="icon">
                            <i class="feather-user"></i>
                        </span>
                        <span class="text">
                            Hosted By
                        </span>
                    </div>
                    <div class="right-side">
                        John Lee
                    </div>
                </li>
                <li>
                    <div class="left-side">
                        <span class="icon">
                            <i class="feather-clock"></i>
                        </span>
                        <span class="text">
                            Start
                        </span>
                    </div>
                    <div class="right-side">
                        Jun 24, 2020 11:30pm
                    </div>
                </li>
                <li>
                    <div class="left-side">
                        <span class="icon">
                            <i class="feather-book"></i>
                        </span>
                        <span class="text">
                            Category
                        </span>
                    </div>
                    <div class="right-side">
                        Web Design
                    </div>
                </li>
                <li>
                    <div class="left-side">
                        <span class="icon">
                            <i class="feather-bar-chart"></i>
                        </span>
                        <span class="text">
                            Duration
                        </span>
                    </div>
                    <div class="right-side">
                        30 minutes
                    </div>
                </li>
                <li>
                    <div class="left-side">
                        <span class="icon">
                            <i class="feather-users"></i>
                        </span>
                        <span class="text">
                            Meeting id
                        </span>
                    </div>
                    <div class="right-side">
                        98765432102
                    </div>
                </li>
                <li>
                    <div class="left-side">
                        <span class="icon">
                            <i class="feather-globe"></i>
                        </span>
                        <span class="text">
                            Timezone
                        </span>
                    </div>
                    <div class="right-side">
                        Atlantic/Amazon
                    </div>
                </li>
            </ul>
            <div class="note-text">
                <span>Note:</span> The countdown time is shown based on your local timezone
            </div>
            <div class="meeting-btn-group text-center">
                <a class="rbt-btn btn-md" href="#button">Join Meeting via Zoom App</a>
                <a class="rbt-btn btn-md meeting-btn-2 mt--10" href="#button">Join via Web Browser</a>
            </div>
        </div>
    </div>
    <!-- End Single Card  -->

</div>
<!-- End Card Area -->