    <!-- Start Footer aera -->
    <div class="footer-wrapper footer-style-two">
        <div class="footer-top">
            <div class="logo-area">
                <div class="container">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-md-7 col-sm-7 col-5">
                            <div class="logo">
                                <a href="index.html">
                                    <img src="assets/images/logo/logo_wh.png" alt="Edu-cause">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-5 col-sm-5 col-7 d-flex justify-content-end">
                            <ul class="social-icons">
                                <li class="social-item">
                                    <a href="#" class="social-link"><i class="fab fa-facebook-f"></i></a>
                                </li>
                                <li class="social-item">
                                    <a href="#" class="social-link pr-0"><i class="fab fa-instagram"></i></a>
                                </li>
                                <li class="social-item">
                                    <a href="#" class="social-link pr-0"><i class="fab fa-linkedin-in"></i></a>
                                </li>
                                <li class="social-item">
                                    <a href="#" class="social-link"><i class="fab fa-twitter"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-area">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5 col-md-8 col-sm-12 col-12">
                            <div class="ft-text footer-link">
                                <h6 class="title">Subscribe Wisedu</h6>
                                <p class="mb--20">There are many variations of passages of Lorem Ipsum available, but the
                                    majority have suffered alteration in some form, by injected.
                                </p>
                                <div class="subscribe-input">
                                    <input type="email" placeholder="Your Email Address..">
                                    <button class="rbt-btn btn-secondary btn-rounded btn-sm" href="#button">Subscribe</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-4 col-sm-6 col-6">
                            <div class="footer-link">
                                <h5>Useful Links</h5>
                                <ul class="ft-link">
                                    <li>
                                        <a href="#">Get the app</a>
                                    </li>
                                    <li>
                                        <a href="#">News & articles</a>
                                    </li>
                                    <li>
                                        <a href="#">Your account</a>
                                    </li>
                                    <li>
                                        <a href="#">Terms of service</a>
                                    </li>
                                    <li>
                                        <a href="#">FAQ</a>
                                    </li>
                                    <li>
                                        <a href="privacy-policy.html">Privacy policy</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-4 col-sm-6 col-6">
                            <div class="footer-link company-link">
                                <h5>Our Company</h5>
                                <ul class="ft-link">
                                    <li>
                                        <a href="portfolio.html">About us</a>
                                    </li>
                                    <li>
                                        <a href="about.html">Careers</a>
                                    </li>
                                    <li>
                                        <a href="blog.html">How it work</a>
                                    </li>
                                    <li>
                                        <a href="team.html">Blog</a>
                                    </li>
                                    <li>
                                        <a href="contact.html">Events</a>
                                    </li>
                                    <li>
                                        <a href="contact.html">Contact</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                            <div class="footer-link get-contact">
                                <h5>Get Contact</h5>
                                <ul class="ft-link">
                                    <li>Address: <p class="ft-link-text">6391 Elgin St. Celina, Delaware 10299</p> </li>
                                    <li>Phone: <a href="tel:(406) 555-0120">(406) 555-0120</a></li>
                                    <li>E-mail: <a href="mailto:hr@example.com">debra.holt@example.com</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-area">
            <div class="row footer-bottom align-items-center">
                <div class="col-12 bottom-left text-center">
                    <p>Copyright © 2022 <a href="https://themeforest.net/user/rainbow-themes">Rainbow-Themes.</a> All Rights Reserved</p>
                </div>
            </div>
        </div>
    </div>
    <!-- End Footer aera -->

    <!-- Back to top button -->
    <div class="rn-progress-parent">
        <svg class="rn-back-circle svg-inner" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" style="transition: stroke-dashoffset 10ms linear 0s; stroke-dasharray: 307.919, 307.919; stroke-dashoffset: 220.592;"></path>
        </svg>
    </div>