<!-- Start Best-Seller Book Area -->
<div class="rbt-best-seller-book-area bg-color-white">
    <div class="container">
        <div class="row row--15 align-items-center">
            <div class="col-lg-7">
                <div class="section-title">
                    <h3 class="title">How to <span>upgrade your skills</span> without leaving home.</h3>
                    <h3 class="title-primary">Best Seller book in 2022</h3>
                </div>
                <p class="inner-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do magna aliqu enim ad minim veniam. Lorem ipsum dolor sit amet, consectetur adipiscing magna aliqu enim minim veniam.
                </p>
                <h4 class="download-text">
                   <span>Download The Digital Book</span> 
                    To Your Device
                </h4>
                <div class="download-link">
                    <a href=""><img src="assets/images/best-seller-img/app-store.png" alt="Google Play"></a>
                    <a href=""><img src="assets/images/best-seller-img/google-play.png" alt="App Store"></a>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="inner-img">
                    <img src="assets/images/best-seller-img/best-seller-book.png" alt="Book Image">
                    <div class="offer">
                        $75
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Best-Seller Book Area -->