<!-- Start Check Blog Area -->
<div class="rbt-check-blog-area bg-color-white rbt-section-gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title text-center">
                    <p class="title-badge color-secondary">Our Blog</p>
                    <h3 class="title">Let’s <span>Check</span> Some Latest Blog</h3>
                </div>
            </div>
        </div>

        <div class="row row--15">
            <div class="col-lg-8 col-md-12 col-sm-12">
                <div class="inner-text">
                    <div class="left-side">
                        <div class="postman-img">
                            <img src="assets/images/testimonials-img/postman.png" alt="postman">
                        </div>
                        <div class="postman-name">
                            Glen Williams
                        </div>
                        <div class="post-date">
                            <span><i class="feather-calendar"></i></span>
                            March 24, 2021
                        </div>
                    </div>
                    <div class="right-side">
                        <a href="blog.html">Lorem Ipsum is dummy text of the printing simply and typesetting industry.</a>
                    </div>
                </div>
                <div class="inner-text">
                    <div class="left-side">
                        <div class="postman-img">
                            <img src="assets/images/testimonials-img/postman-2.png" alt="postman">
                        </div>
                        <div class="postman-name">
                            Alex Rose
                        </div>
                        <div class="post-date">
                            <span><i class="feather-calendar"></i></span>
                            June 09, 2021
                        </div>
                    </div>
                    <div class="right-side">
                        <a href="blog.html"><span>It is a long established fact that a reader will be distracted by the readable content.</span></a>
                    </div>
                </div>
                <div class="inner-text">
                    <div class="left-side">
                        <div class="postman-img">
                            <img src="assets/images/testimonials-img/postman.png" alt="postman">
                        </div>
                        <div class="postman-name">
                            Glen Williams
                        </div>
                        <div class="post-date">
                            <span><i class="feather-calendar"></i></span>
                            Sep 13, 2021
                        </div>
                    </div>
                    <div class="right-side">
                        <a href="blog.html">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots.</a>
                    </div>
                </div>
                <div class="inner-text">
                    <div class="left-side">
                        <div class="postman-img">
                            <img src="assets/images/testimonials-img/postman-3.png" alt="postman">
                        </div>
                        <div class="postman-name">
                            Kue Mendis
                        </div>
                        <div class="post-date">
                            <span><i class="feather-calendar"></i></span>
                            Dec 10, 2021
                        </div>
                    </div>
                    <div class="right-side">
                        <a href="blog.html">There are many variations of passages of Lorem Ipsum available.</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12">
                <div class="inner-img">
                    <img src="assets/images/hero-img/post-man-hero.png" alt="Postman Image">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Check Blog Area -->