<!-- Start Call to Action Area -->
<div class="rbt-call-to-action-area call-to-action-style-two rbt-section-gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="section-title">
                    <h1 class="title">
                        Start Your <span>Free Trial.</span>
                    </h1>
                    <p class="title-text">Ready to get started?</p>
                </div>
                <div class="subscribe-area">
                    <form action="#">
                        <div class="subscribe-input">
                            <input type="email" placeholder="Please enter your email address here">
                            <button type="submit" class="rbt-btn btn-xl" href="#button">Get Started<i class="feather-arrow-right"></i></button>
                        </div>
                    </form>
                    <p>Try for free, No creadit card required.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Call to Action Area -->