<!-- Start Pagination Area -->
<div class="rbt-pagination-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <a class="previous-icon" href="#"><i class="feather-arrow-left"></i></a>
                <ul class="rbt-pagination">
                    <li><a class="active" href="#">1</a></li>
                    <li><a href="#">2</a></li>
                </ul>
                <a class="next-icon" href="#"><i class="feather-arrow-right"></i></a>
            </div>
        </div>
    </div>
</div>
<!-- End Pagination Area -->