<!-- Start Card Area -->
<div class="rbt-slider-area list-card-slider-1 responsive">

    <!-- Start Single Card  -->
    <div class="single-slider">
        <div class="rbt-card list-style-card-1">
            <div class="card-img">
                <a href="#">
                    <img src="assets/images/card-img/card-img-201.png" alt="Card image">
                </a>
            </div>
            <div class="card-body">
                <ul class="caption">
                    <li><i class="feather-book"></i>25 Lessons</li>
                    <li><i class="feather-users"></i>60 Students</li>
                </ul>
                <h5 class="card-title"><a href="#">Programming Tutorials.</a></h5>
                <p class="card-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, adipisci.
                </p>
                <div class="review-area">
                    <ul class="star-icon">
                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                    </ul>
                    <div class="review-text">
                        (42 Reviews)
                    </div>
                </div>
                <div class="card-bottom">
                    <div class="price">
                        <span class="current-price">$90</span>
                        <span class="off-price">$180</span>
                    </div>
                    <a class="rbt-btn-link btn-link-md stretched-link" href="#button">Learn More<i class="feather-arrow-right ml--5"></i></a>
                </div>

            </div>
        </div>
    </div>
    <!-- End Single Card  -->

    <!-- Start Single Card  -->
    <div class="single-slider">
        <div class="rbt-card list-style-card-1">
            <div class="card-img">
                <a href="#">
                    <img src="assets/images/card-img/card-img-202.png" alt="Card image">
                </a>
            </div>
            <div class="card-body">
                <ul class="caption">
                    <li><i class="feather-book"></i>12 Lessons</li>
                    <li><i class="feather-users"></i>50 Students</li>
                </ul>
                <h5 class="card-title"><a href="#">Graphic Design - Tutorials.</a></h5>
                <p class="card-text">
                    Voluptatum a eos laborum temporibus non nihil laborum id neque quis alias.
                </p>
                <div class="review-area">
                    <ul class="star-icon">
                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                    </ul>
                    <div class="review-text">
                        (15 Reviews)
                    </div>
                </div>
                <div class="card-bottom">
                    <div class="price">
                        <span class="current-price">$60</span>
                        <span class="off-price">$120</span>
                    </div>
                    <a class="rbt-btn-link btn-link-md stretched-link" href="#button">Learn More<i class="feather-arrow-right ml--5"></i></a>
                </div>

            </div>
        </div>
    </div>
    <!-- End Single Card  -->

    <!-- Start Single Card  -->
    <div class="single-slider">
        <div class="rbt-card list-style-card-1">
            <div class="card-img">
                <a href="#">
                    <img src="assets/images/card-img/card-img-201.png" alt="Card image">
                </a>
            </div>
            <div class="card-body">
                <ul class="caption">
                    <li><i class="feather-book"></i>25 Lessons</li>
                    <li><i class="feather-users"></i>60 Students</li>
                </ul>
                <h5 class="card-title"><a href="#">Programming Tutorials.</a></h5>
                <p class="card-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, adipisci.
                </p>
                <div class="review-area">
                    <ul class="star-icon">
                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                    </ul>
                    <div class="review-text">
                        (42 Reviews)
                    </div>
                </div>
                <div class="card-bottom">
                    <div class="price">
                        <span class="current-price">$90</span>
                        <span class="off-price">$180</span>
                    </div>
                    <a class="rbt-btn-link btn-link-md stretched-link" href="#button">Learn More<i class="feather-arrow-right ml--5"></i></a>
                </div>

            </div>
        </div>
    </div>
    <!-- End Single Card  -->

    <!-- Start Single Card  -->
    <div class="single-slider">
        <div class="rbt-card list-style-card-1">
            <div class="card-img">
                <a href="#">
                    <img src="assets/images/card-img/card-img-202.png" alt="Card image">
                </a>
            </div>
            <div class="card-body">
                <ul class="caption">
                    <li><i class="feather-book"></i>12 Lessons</li>
                    <li><i class="feather-users"></i>50 Students</li>
                </ul>
                <h5 class="card-title"><a href="#">Graphic Design - Tutorials.</a></h5>
                <p class="card-text">
                    Voluptatum a eos laborum temporibus non nihil laborum id neque quis alias.
                </p>
                <div class="review-area">
                    <ul class="star-icon">
                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                        <li><a href="#"><i class="fas fa-star"></i></a></li>
                    </ul>
                    <div class="review-text">
                        (15 Reviews)
                    </div>
                </div>
                <div class="card-bottom">
                    <div class="price">
                        <span class="current-price">$60</span>
                        <span class="off-price">$120</span>
                    </div>
                    <a class="rbt-btn-link btn-link-md stretched-link" href="#button">Learn More<i class="feather-arrow-right ml--5"></i></a>
                </div>

            </div>
        </div>
    </div>
    <!-- End Single Card  -->

</div>
<!-- End Card Area -->