<!-- Start Brands Style -->
<div class="rbt-brand">
    <div class="container">
        <div class="row row--15">
            <div class="col-lg-12">
                <div class="rbt-brand-style rbt-brand-style-two">
                    <ul>
                        <li>
                            <div class="rbt-counterup rbt-counterup-1">
                                <div class="count-number bg-shape">
                                    <span class="userNumBar">1.2</span>
                                    <span class="extra-text">k</span>
                                </div>
                                <p class="counterup-text">
                                    Trusted Companies
                                </p>
                            </div>
                        </li>
                        <li>
                            <a href="#">
                                <img src="assets/images/brands/brands-6.png" alt="Brand Image">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="assets/images/brands/brands-7.png" alt="Brand Image">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="assets/images/brands/brands-8.png" alt="Brand Image">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="assets/images/brands/brands-9.png" alt="Brand Image">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Brands Style -->