<!-- Start Card Area -->
<div class="rbt-slider-area events-slider-1 responsive">

    <!-- Start Single Card  -->
    <div class="single-slider">
        <div class="rbt-card rbt-event-card">
            <div class="card-body">
                <h5 class="card-title"><a href="events-details.html">Graphic Design - Advanced Tutorials (12 lesson)</a></h5>
                <div class="card-badge">
                    <ul>
                        <li class="card-badge-1">
                            <a href="#">
                                <span class="browser-icon">
                                    <i class="feather-globe"></i>
                                </span>
                                <span class="badge-text">
                                    United Kingdom
                                </span>
                            </a>
                        </li>
                        <li class="card-badge-2">
                            <a href="#">
                                <span class="tag-icon">
                                    <i class="feather-tag"></i>
                                </span>
                                <span class="badge-text">
                                    Design
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
                <p class="card-text">
                    Lorem ipsum dolor consect, adipisicing elit. Illo facilis hic accusamus aspern.
                </p>
                <div class="time-box">
                    <div class="title">
                        Start Time
                    </div>
                    <div class="content">
                        <span class="clock-icon">
                            <i class="feather-clock"></i>
                        </span>
                        <span class="text">
                            March 16, 4 - 30pm
                        </span>
                    </div>
                </div>
                <div class="participant-box">
                    <span class="title">
                        Participant
                    </span>
                    <span class="content participant-img">
                        <a href="#">
                            <img src="assets/images/card-img/participant-img/participant-img-1.png" alt="People's Image">
                            <img src="assets/images/card-img/participant-img/participant-img-2.png" alt="People's Image">
                            <img src="assets/images/card-img/participant-img/participant-img-3.png" alt="People's Image">
                            <img src="assets/images/card-img/participant-img/participant-img-4.png" alt="People's Image">
                            <div class="text-item">
                                99+
                            </div>
                        </a>
                    </span>
                </div>
                <div class="event-card-btn">
                    <a class="rbt-btn btn-xs btn-rounded" href="events-details.html">Let’s Get <i class="feather-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
    <!-- End Single Card  -->

    <!-- Start Single Card  -->
    <div class="single-slider">
        <div class="rbt-card rbt-event-card">
            <div class="card-body">
                <h5 class="card-title"><a href="events-details.html">Computer Engineering Learning Courses Tutorials (25 lesson)</a></h5>
                <div class="card-badge">
                    <ul>
                        <li class="card-badge-1">
                            <a href="#">
                                <span class="browser-icon">
                                    <i class="feather-globe"></i>
                                </span>
                                <span class="badge-text">
                                    Poland
                                </span>
                            </a>
                        </li>
                        <li class="card-badge-2">
                            <a href="#">
                                <span class="tag-icon">
                                    <i class="feather-tag"></i>
                                </span>
                                <span class="badge-text">
                                    Computer
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
                <p class="card-text">
                    Perferendis quae architecto et necessitatibus voluptatibus quis nemo.
                </p>
                <div class="time-box">
                    <div class="title">
                        Start Time
                    </div>
                    <div class="content">
                        <span class="clock-icon">
                            <i class="feather-clock"></i>
                        </span>
                        <span class="text">
                            April 01, 6 - 30pm
                        </span>
                    </div>
                </div>
                <div class="participant-box">
                    <span class="title">
                        Participant
                    </span>
                    <span class="content participant-img">
                        <a href="#">
                            <img src="assets/images/card-img/participant-img/participant-img-4.png" alt="People's Image">
                            <img src="assets/images/card-img/participant-img/participant-img-3.png" alt="People's Image">
                            <img src="assets/images/card-img/participant-img/participant-img-2.png" alt="People's Image">
                            <img src="assets/images/card-img/participant-img/participant-img-1.png" alt="People's Image">
                            <div class="text-item">
                                99+
                            </div>
                        </a>
                    </span>
                </div>
                <div class="event-card-btn">
                    <a class="rbt-btn btn-xs btn-rounded" href="events-details.html">Let’s Get <i class="feather-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
    <!-- End Single Card  -->

    <!-- Start Single Card  -->
    <div class="single-slider">
        <div class="rbt-card rbt-event-card">
            <div class="card-body">
                <h5 class="card-title"><a href="events-details.html">Web Design - Exclusive Courses Tutorials (19 lesson)</a></h5>
                <div class="card-badge">
                    <ul>
                        <li class="card-badge-1">
                            <a href="#">
                                <span class="browser-icon">
                                    <i class="feather-globe"></i>
                                </span>
                                <span class="badge-text">
                                    Canada
                                </span>
                            </a>
                        </li>
                        <li class="card-badge-2">
                            <a href="#">
                                <span class="tag-icon">
                                    <i class="feather-tag"></i>
                                </span>
                                <span class="badge-text">
                                    Web-Design
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
                <p class="card-text">
                    Amet ea officiis deleniti nesciunt repellat quisquam deleniti dolorum repudiandae.
                </p>
                <div class="time-box">
                    <div class="title">
                        Start Time
                    </div>
                    <div class="content">
                        <span class="clock-icon">
                            <i class="feather-clock"></i>
                        </span>
                        <span class="text">
                            April 16, 5 - 30pm
                        </span>
                    </div>
                </div>
                <div class="participant-box">
                    <span class="title">
                        Participant
                    </span>
                    <span class="content participant-img">
                        <a href="#">
                            <img src="assets/images/card-img/participant-img/participant-img-2.png" alt="People's Image">
                            <img src="assets/images/card-img/participant-img/participant-img-1.png" alt="People's Image">
                            <img src="assets/images/card-img/participant-img/participant-img-4.png" alt="People's Image">
                            <img src="assets/images/card-img/participant-img/participant-img-3.png" alt="People's Image">
                            <div class="text-item">
                                99+
                            </div>
                        </a>
                    </span>
                </div>
                <div class="event-card-btn">
                    <a class="rbt-btn btn-xs btn-rounded" href="events-details.html">Let’s Get <i class="feather-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
    <!-- End Single Card  -->

    <!-- Start Single Card  -->
    <div class="single-slider">
        <div class="rbt-card rbt-event-card">
            <div class="card-body">
                <h5 class="card-title"><a href="events-details.html">Electrical Engineering Learning Courses Tutorials (32 lesson)</a></h5>
                <div class="card-badge">
                    <ul>
                        <li class="card-badge-1">
                            <a href="#">
                                <span class="browser-icon">
                                    <i class="feather-globe"></i>
                                </span>
                                <span class="badge-text">
                                    Australia
                                </span>
                            </a>
                        </li>
                        <li class="card-badge-2">
                            <a href="#">
                                <span class="tag-icon">
                                    <i class="feather-tag"></i>
                                </span>
                                <span class="badge-text">
                                    Electrical
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
                <p class="card-text">
                    Deleniti expedita eius commodi maxime iusto? Ea, quas odio aspern.
                </p>
                <div class="time-box">
                    <div class="title">
                        Start Time
                    </div>
                    <div class="content">
                        <span class="clock-icon">
                            <i class="feather-clock"></i>
                        </span>
                        <span class="text">
                            May 01, 3 - 30pm
                        </span>
                    </div>
                </div>
                <div class="participant-box">
                    <span class="title">
                        Participant
                    </span>
                    <span class="content participant-img">
                        <a href="#">
                            <img src="assets/images/card-img/participant-img/participant-img-3.png" alt="People's Image">
                            <img src="assets/images/card-img/participant-img/participant-img-2.png" alt="People's Image">
                            <img src="assets/images/card-img/participant-img/participant-img-1.png" alt="People's Image">
                            <img src="assets/images/card-img/participant-img/participant-img-4.png" alt="People's Image">
                            <div class="text-item">
                                99+
                            </div>
                        </a>
                    </span>
                </div>
                <div class="event-card-btn">
                    <a class="rbt-btn btn-xs btn-rounded" href="events-details.html">Let’s Get <i class="feather-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
    <!-- End Single Card  -->

    <!-- Start Single Card  -->
    <div class="single-slider">
        <div class="rbt-card rbt-event-card">
            <div class="card-body">
                <h5 class="card-title"><a href="events-details.html">Graphic Design - Advanced Tutorials (12 lesson)</a></h5>
                <div class="card-badge">
                    <ul>
                        <li class="card-badge-1">
                            <a href="#">
                                <span class="browser-icon">
                                    <i class="feather-globe"></i>
                                </span>
                                <span class="badge-text">
                                    United Kingdom
                                </span>
                            </a>
                        </li>
                        <li class="card-badge-2">
                            <a href="#">
                                <span class="tag-icon">
                                    <i class="feather-tag"></i>
                                </span>
                                <span class="badge-text">
                                    Design
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
                <p class="card-text">
                    Lorem ipsum dolor consect, adipisicing elit. Illo facilis hic accusamus aspern.
                </p>
                <div class="time-box">
                    <div class="title">
                        Start Time
                    </div>
                    <div class="content">
                        <span class="clock-icon">
                            <i class="feather-clock"></i>
                        </span>
                        <span class="text">
                            March 16, 4 - 30pm
                        </span>
                    </div>
                </div>
                <div class="participant-box">
                    <span class="title">
                        Participant
                    </span>
                    <span class="content participant-img">
                        <a href="#">
                            <img src="assets/images/card-img/participant-img/participant-img-1.png" alt="People's Image">
                            <img src="assets/images/card-img/participant-img/participant-img-2.png" alt="People's Image">
                            <img src="assets/images/card-img/participant-img/participant-img-3.png" alt="People's Image">
                            <img src="assets/images/card-img/participant-img/participant-img-4.png" alt="People's Image">
                            <div class="text-item">
                                99+
                            </div>
                        </a>
                    </span>
                </div>
                <div class="event-card-btn">
                    <a class="rbt-btn btn-xs btn-rounded" href="events-details.html">Let’s Get <i class="feather-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
    <!-- End Single Card  -->

    <!-- Start Single Card  -->
    <div class="single-slider">
        <div class="rbt-card rbt-event-card">
            <div class="card-body">
                <h5 class="card-title"><a href="events-details.html">Computer Engineering Learning Courses Tutorials (25 lesson)</a></h5>
                <div class="card-badge">
                    <ul>
                        <li class="card-badge-1">
                            <a href="#">
                                <span class="browser-icon">
                                    <i class="feather-globe"></i>
                                </span>
                                <span class="badge-text">
                                    Poland
                                </span>
                            </a>
                        </li>
                        <li class="card-badge-2">
                            <a href="#">
                                <span class="tag-icon">
                                    <i class="feather-tag"></i>
                                </span>
                                <span class="badge-text">
                                    Computer
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
                <p class="card-text">
                    Perferendis quae architecto et necessitatibus voluptatibus quis nemo.
                </p>
                <div class="time-box">
                    <div class="title">
                        Start Time
                    </div>
                    <div class="content">
                        <span class="clock-icon">
                            <i class="feather-clock"></i>
                        </span>
                        <span class="text">
                            April 01, 6 - 30pm
                        </span>
                    </div>
                </div>
                <div class="participant-box">
                    <span class="title">
                        Participant
                    </span>
                    <span class="content participant-img">
                        <a href="#">
                            <img src="assets/images/card-img/participant-img/participant-img-4.png" alt="People's Image">
                            <img src="assets/images/card-img/participant-img/participant-img-3.png" alt="People's Image">
                            <img src="assets/images/card-img/participant-img/participant-img-2.png" alt="People's Image">
                            <img src="assets/images/card-img/participant-img/participant-img-1.png" alt="People's Image">
                            <div class="text-item">
                                99+
                            </div>
                        </a>
                    </span>
                </div>
                <div class="event-card-btn">
                    <a class="rbt-btn btn-xs btn-rounded" href="events-details.html">Let’s Get <i class="feather-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
    <!-- End Single Card  -->

    <!-- Start Single Card  -->
    <div class="single-slider">
        <div class="rbt-card rbt-event-card">
            <div class="card-body">
                <h5 class="card-title"><a href="events-details.html">Web Design - Exclusive Courses Tutorials (19 lesson)</a></h5>
                <div class="card-badge">
                    <ul>
                        <li class="card-badge-1">
                            <a href="#">
                                <span class="browser-icon">
                                    <i class="feather-globe"></i>
                                </span>
                                <span class="badge-text">
                                    Canada
                                </span>
                            </a>
                        </li>
                        <li class="card-badge-2">
                            <a href="#">
                                <span class="tag-icon">
                                    <i class="feather-tag"></i>
                                </span>
                                <span class="badge-text">
                                    Web-Design
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
                <p class="card-text">
                    Amet ea officiis deleniti nesciunt repellat quisquam deleniti dolorum repudiandae.
                </p>
                <div class="time-box">
                    <div class="title">
                        Start Time
                    </div>
                    <div class="content">
                        <span class="clock-icon">
                            <i class="feather-clock"></i>
                        </span>
                        <span class="text">
                            April 16, 5 - 30pm
                        </span>
                    </div>
                </div>
                <div class="participant-box">
                    <span class="title">
                        Participant
                    </span>
                    <span class="content participant-img">
                        <a href="#">
                            <img src="assets/images/card-img/participant-img/participant-img-2.png" alt="People's Image">
                            <img src="assets/images/card-img/participant-img/participant-img-1.png" alt="People's Image">
                            <img src="assets/images/card-img/participant-img/participant-img-4.png" alt="People's Image">
                            <img src="assets/images/card-img/participant-img/participant-img-3.png" alt="People's Image">
                            <div class="text-item">
                                99+
                            </div>
                        </a>
                    </span>
                </div>
                <div class="event-card-btn">
                    <a class="rbt-btn btn-xs btn-rounded" href="events-details.html">Let’s Get <i class="feather-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
    <!-- End Single Card  -->

    <!-- Start Single Card  -->
    <div class="single-slider">
        <div class="rbt-card rbt-event-card">
            <div class="card-body">
                <h5 class="card-title"><a href="events-details.html">Electrical Engineering Learning Courses Tutorials (32 lesson)</a></h5>
                <div class="card-badge">
                    <ul>
                        <li class="card-badge-1">
                            <a href="#">
                                <span class="browser-icon">
                                    <i class="feather-globe"></i>
                                </span>
                                <span class="badge-text">
                                    Australia
                                </span>
                            </a>
                        </li>
                        <li class="card-badge-2">
                            <a href="#">
                                <span class="tag-icon">
                                    <i class="feather-tag"></i>
                                </span>
                                <span class="badge-text">
                                    Electrical
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
                <p class="card-text">
                    Deleniti expedita eius commodi maxime iusto? Ea, quas odio aspern.
                </p>
                <div class="time-box">
                    <div class="title">
                        Start Time
                    </div>
                    <div class="content">
                        <span class="clock-icon">
                            <i class="feather-clock"></i>
                        </span>
                        <span class="text">
                            May 01, 3 - 30pm
                        </span>
                    </div>
                </div>
                <div class="participant-box">
                    <span class="title">
                        Participant
                    </span>
                    <span class="content participant-img">
                        <a href="#">
                            <img src="assets/images/card-img/participant-img/participant-img-3.png" alt="People's Image">
                            <img src="assets/images/card-img/participant-img/participant-img-2.png" alt="People's Image">
                            <img src="assets/images/card-img/participant-img/participant-img-1.png" alt="People's Image">
                            <img src="assets/images/card-img/participant-img/participant-img-4.png" alt="People's Image">
                            <div class="text-item">
                                99+
                            </div>
                        </a>
                    </span>
                </div>
                <div class="event-card-btn">
                    <a class="rbt-btn btn-xs btn-rounded" href="events-details.html">Let’s Get <i class="feather-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
    <!-- End Single Card  -->

</div>
<!-- End Card Area -->