<!-- Start Service Box Area-->
<div class="rbt-service-box">
    <div class="container">
        <div class="row">
            <div class="col-md-12 inner">
                <!-- Start Single Service Box -->
                <div class="single-service-box">
                    <div class="icon-img">
                        <img src="assets/images/service-box/icon/people.png" alt="Icon Image">
                    </div>
                    <p class="title">Experted Instructor</p>
                </div>
                <!-- End Single Service Box -->

                <!-- Start Single Service Box -->
                <div class="single-service-box">
                    <div class="icon-img">
                        <img src="assets/images/service-box/icon/chart-histogram-two.png" alt="Icon Image">
                    </div>
                    <p class="title">Learn New Skill</p>
                </div>
                <!-- End Single Service Box -->

                <!-- Start Single Service Box -->
                <div class="single-service-box">
                    <div class="icon-img">
                        <img src="assets/images/service-box/icon/Union.png" alt="Icon Image">
                    </div>
                    <p class="title">Flexible training programs</p>
                </div>
                <!-- End Single Service Box -->

                <!-- Start Single Service Box -->
                <div class="single-service-box">
                    <div class="icon-img">
                        <img src="assets/images/service-box/icon/computer.png" alt="Icon Image">
                    </div>
                    <p class="title">Online Training</p>
                </div>
                <!-- End Single Service Box -->

                <!-- Start Single Service Box -->
                <div class="single-service-box">
                    <div class="icon-img">
                        <img src="assets/images/service-box/icon/passport.png" alt="Icon Image">
                    </div>
                    <p class="title">Care and Support</p>
                </div>
                <!-- End Single Service Box -->
            </div>
        </div>
    </div>
</div>
<!-- End Service Box Area-->