<!-- Start Counter-down Area -->
<div class="rbt-counterdown-area rbt-section-gap">
    <div class="container">
        <div class="row row--15 inner">

            <div class="col-lg-7 col-md-12 col-sm-12 col-12 inner-content">
                <div class="inner-text">
                    <div class="section-title">
                        <p class="title-badge">Welcome to WisEdu</p>
                        <h3 class="title">Registaration For Free Course Enroll <span>by WisEdu</span></h3>
                    </div>
                    <p>It's limited seating! Hurry up</p>
                </div>
                <div class="row row--15 count-down-section">
                    <div class="col-lg-3 col-md-3 col-sm-4 col-6 mt--30">
                        <div class="rbt-countdown">
                            <div class="count-down-number">
                                00
                            </div>
                            <p class="counterup-text">
                                Days
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-4 col-6 mt--30">
                        <div class="rbt-countdown">
                            <div class="count-down-number">
                                00
                            </div>
                            <p class="counterup-text">
                                Hours
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-4 col-6 mt--30">
                        <div class="rbt-countdown">
                            <div class="count-down-number">
                                00
                            </div>
                            <p class="counterup-text">
                                minutes
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-4 col-6 mt--30">
                        <div class="rbt-countdown">
                            <div class="count-down-number">
                                00
                            </div>
                            <p class="counterup-text">
                                Seconds
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-5 col-md-5 col-sm-12 col-12">
                <div class="sign-up-box">
                    <h3 class="title">Sign Up Now</h3>
                    <p>Get Free Course</p>
                    <ul class="input-form">
                        <li>
                            <div class="icon">
                                <i class="feather-user"></i>
                            </div>
                            <input type="text" placeholder="Your Name">
                        </li>
                        <li>
                            <div class="icon">
                                <i class="feather-mail"></i>
                            </div>
                            <input type="email" placeholder="E-mail">
                        </li>
                        <li>
                            <div class="icon">
                                <i class="feather-phone"></i>
                            </div>
                            <input type="number" placeholder="Phone">
                        </li>
                    </ul>
                    <div class="sign-up-btn">
                        <a class="rbt-btn btn-md" href="#button">Get Started today</a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
<!-- End Counter-down Area -->