<!-- JS
============================================ -->
<!-- Modernizer JS -->
<script src="assets/js/vendor/modernizr.min.js"></script>
<!-- jQuery JS -->
<script src="assets/js/vendor/jquery.js"></script>
<!-- Bootstrap JS -->
<script src="assets/js/vendor/bootstrap.min.js"></script>
<!-- Parallax JS -->
<script src="assets/js/vendor/parallax.min.js"></script>
<!-- slick-slider -->
<script src="assets/js/vendor/slick.min.js"></script>
<!-- counter-up -->
<script src="assets/js/vendor/waypoints.min.js"></script>
<script src="assets/js/vendor/jquery.counterup.js"></script>
<!-- odometer -->
<script src="assets/js/vendor/odometer.min.js"></script>
<!-- counter-down -->
<script src="assets/js/vendor/jquery.countdown.js"></script>
<!-- sal.js -->
<script src="assets/js/vendor/sal.js"></script>
<!-- Main JS -->
<script src="assets/js/main.js"></script>
