<!-- Start CounterUp Area -->
<div class="rbt-counterup-area counterup-style-four">
    <div class="container">
        <div class="row row--15">
            <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                <div class="inner-img">
                    <img src="assets/images/counter-up/hero-2.png" alt="Two Man Meeting">
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-12 inner-content">
                <div class="inner-text">
                    <h1 class="title">We <span>Help Students</span> Grow Their Career.</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do magna aliqu enim ad minim veniam.</p>
                </div>
                <div class="row row--15 mt_dec--30">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-6 mt--30">
                        <div class="rbt-counterup rbt-counterup-1">
                            <div class="count-number">
                                <span class="counter">23</span>
                                <span class="extra-text">k+</span>
                            </div>
                            <p class="counterup-text">
                                Registered Student
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-6 mt--30">
                        <div class="rbt-counterup rbt-counterup-2">
                            <div class="count-number">
                                <span class="counter">24</span>
                                <span class="extra-text"></span>
                            </div>
                            <p class="counterup-text">
                                Years Experience
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-6 mt--30">
                        <div class="rbt-counterup rbt-counterup-3">
                            <div class="count-number">
                                <span class="counter">1265</span>
                                <span class="extra-text">+</span>
                            </div>
                            <p class="counterup-text">
                                Courses &amp; videos
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-6 mt--40">
                        <div class="rbt-counterup rbt-counterup-3">
                            <div class="count-number">
                                <span class="counter">150</span>
                                <span class="extra-text"></span>
                            </div>
                            <p class="counterup-text">
                                Expert Teachers
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-6 mt--40">
                        <div class="rbt-counterup rbt-counterup-4">
                            <div class="count-number ">
                                <span class="counter">90</span>
                                <span class="extra-text">%</span>
                            </div>
                            <p class="counterup-text">
                                Graduate Student
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-6 mt--40">
                        <div class="rbt-counterup rbt-counterup-3">
                            <div class="count-number">
                                <span class="counter">260</span>
                                <span class="extra-text"></span>
                            </div>
                            <p class="counterup-text">
                                Digital laboratory
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End CounterUp Area -->