<!-- Start Testimonial Area -->
<div class="rbt-slider-area testimonial-slider-2 responsive">

    <!-- Start Single Testimonial  -->
    <div class="single-slider">
        <div class="rbt-testimonial rbt-testimonial-2">
            <p class="testimonial-text">
                I was able to learn a large amount in a short amount of time. The learn large amount in a short practical nature helped large amount.
            </p>

            <div class="review-area">
                <div class="testimonial-profile">
                    <div class="postman-img">
                        <a href="#">
                            <img src="assets/images/testimonials-img/postman.png" alt="Postman Image">
                        </a>
                    </div>
                    <div class="postman-info">
                        <a href="#">
                            <span class="postman-name">
                                Fionn Norris
                            </span>
                        </a>
                        <span class="postman-prf">
                            Designer
                        </span>
                    </div>
                </div>
                <div class="testimonial-icon">
                    <ul>
                        <li>
                            <a href="#"><i class="fas fa-star"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fas fa-star"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fas fa-star"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fas fa-star"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fas fa-star"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Single Testimonial  -->

    <!-- Start Single Testimonial  -->
    <div class="single-slider">
        <div class="rbt-testimonial rbt-testimonial-2">
            <p class="testimonial-text">
                I was able to learn a large amount in a short amount of time. The learn large amount in a short practical nature helped large amount.
            </p>

            <div class="review-area">
                <div class="testimonial-profile">
                    <div class="postman-img">
                        <a href="#">
                            <img src="assets/images/testimonials-img/postman-2.png" alt="Postman Image">
                        </a>
                    </div>
                    <div class="postman-info">
                        <a href="#">
                            <span class="postman-name">
                                Sara Islam
                            </span>
                        </a>
                        <span class="postman-prf">
                            Devoloper
                        </span>
                    </div>
                </div>
                <div class="testimonial-icon">
                    <ul>
                        <li>
                            <a href="#"><i class="fas fa-star"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fas fa-star"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fas fa-star"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fas fa-star"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fas fa-star"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Single Testimonial  -->

    <!-- Start Single Testimonial  -->
    <div class="single-slider">
        <div class="rbt-testimonial rbt-testimonial-2">
            <p class="testimonial-text">
                I was able to learn a large amount in a short amount of time. The learn large amount in a short practical nature helped large amount.
            </p>

            <div class="review-area">
                <div class="testimonial-profile">
                    <div class="postman-img">
                        <a href="#">
                            <img src="assets/images/testimonials-img/postman.png" alt="Postman Image">
                        </a>
                    </div>
                    <div class="postman-info">
                        <a href="#">
                            <span class="postman-name">
                                Fionn Norris
                            </span>
                        </a>
                        <span class="postman-prf">
                            Designer
                        </span>
                    </div>
                </div>
                <div class="testimonial-icon">
                    <ul>
                        <li>
                            <a href="#"><i class="fas fa-star"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fas fa-star"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fas fa-star"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fas fa-star"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fas fa-star"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Single Testimonial  -->

    <!-- Start Single Testimonial  -->
    <div class="single-slider">
        <div class="rbt-testimonial rbt-testimonial-2">
            <p class="testimonial-text">
                I was able to learn a large amount in a short amount of time. The learn large amount in a short practical nature helped large amount.
            </p>

            <div class="review-area">
                <div class="testimonial-profile">
                    <div class="postman-img">
                        <a href="#">
                            <img src="assets/images/testimonials-img/postman-2.png" alt="Postman Image">
                        </a>
                    </div>
                    <div class="postman-info">
                        <a href="#">
                            <span class="postman-name">
                                Sara Islam
                            </span>
                        </a>
                        <span class="postman-prf">
                            Devoloper
                        </span>
                    </div>
                </div>
                <div class="testimonial-icon">
                    <ul>
                        <li>
                            <a href="#"><i class="fas fa-star"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fas fa-star"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fas fa-star"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fas fa-star"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fas fa-star"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Single Testimonial  -->

</div>
<!-- End Testimonial Area -->