<!-- Start Testimonial Area -->
<div class="row row--15 mt_dec--30">

    <!-- Start Single Testimonial  -->
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6 col-12 mt--30" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
        <div class="rbt-testimonial rbt-testimonial-1">
            <p class="testimonial-text">
                I was able to learn a large amount in a short amount of time. The learn large amount in a short practical nature helped large amount.
            </p>
            <div class="testimonial-icon">
                <ul>
                    <li>
                        <a href="#"><i class="fas fa-star"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fas fa-star"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fas fa-star"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fas fa-star"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fas fa-star"></i></a>
                    </li>
                </ul>
            </div>
            <div class="testimonial-profile">
                <div class="postman-img">
                    <a href="#">
                        <img src="assets/images/testimonials-img/postman-2.png" alt="Postman Image">
                    </a>
                </div>
                <div class="postman-info">
                    <a href="#">
                        <span class="postman-name">
                            Fionn Norris
                        </span>
                    </a>
                    <span class="postman-prf">
                        Designer
                    </span>
                </div>
            </div>
        </div>
    </div>
    <!-- End Single Testimonial  -->

    <!-- Start Single Testimonial  -->
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6 col-12 mt--30" data-sal-delay="200" data-sal="slide-up" data-sal-duration="800">
        <div class="rbt-testimonial rbt-testimonial-1">
            <p class="testimonial-text">
                The standard chunk of Lorem Ipsum used to the full 1500s is original below for those. Sections Bonorum et Malorum reproduced.
            </p>
            <div class="testimonial-icon">
                <ul>
                    <li>
                        <a href="#"><i class="fas fa-star"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fas fa-star"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fas fa-star"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fas fa-star"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fas fa-star"></i></a>
                    </li>
                </ul>
            </div>
            <div class="testimonial-profile">
                <div class="postman-img">
                    <a href="#">
                        <img src="assets/images/testimonials-img/postman-3.png" alt="Postman Image">
                    </a>
                </div>
                <div class="postman-info">
                    <a href="#">
                        <span class="postman-name">
                            Chunk Carry
                        </span>
                    </a>
                    <span class="postman-prf">
                        Devoloper
                    </span>
                </div>
            </div>
        </div>
    </div>
    <!-- End Single Testimonial  -->

    <!-- Start Single Testimonial  -->
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6 col-12 mt--30" data-sal-delay="250" data-sal="slide-up" data-sal-duration="800">
        <div class="rbt-testimonial rbt-testimonial-1">
            <p class="testimonial-text">
                John Smith The standard chunk of Lorem Ipsum used reproduced below for those interested. Sections Bonorum et Malorum original.
            </p>
            <div class="testimonial-icon">
                <ul>
                    <li>
                        <a href="#"><i class="fas fa-star"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fas fa-star"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fas fa-star"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fas fa-star"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fas fa-star"></i></a>
                    </li>
                </ul>
            </div>
            <div class="testimonial-profile">
                <div class="postman-img">
                    <a href="#">
                        <img src="assets/images/testimonials-img/postman.png" alt="Postman Image">
                    </a>
                </div>
                <div class="postman-info">
                    <a href="#">
                        <span class="postman-name">
                            John Smith
                        </span>
                    </a>
                    <span class="postman-prf">
                        Technician
                    </span>
                </div>
            </div>
        </div>
    </div>
    <!-- End Single Testimonial  -->

</div>
<!-- End Testimonial Area -->