<!-- Start Card Area -->
<div class="row row--15">

    <!-- Start Single Card  -->
    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
        <div class="rbt-card rbt-column-direction-card">
            <div class="icon-box green-icon-box">
                <i class="feather-heart"></i>
            </div>
            <div class="card-body">
                <h5 class="card-title"><a href="about.html">Explore thousands of courses.</a></h5>
                <p class="card-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, aliquid mollitia.
                </p>
            </div>
        </div>
    </div>
    <!-- End Single Card  -->

    <!-- Start Single Card  -->
    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
        <div class="rbt-card rbt-column-direction-card">
            <div class="icon-box red-icon-box">
                <i class="feather-monitor"></i>
            </div>
            <div class="card-body">
                <h5 class="card-title"><a href="about.html">Experienced Teacher's service.</a></h5>
                <p class="card-text">
                    Sed distinctio repudiandae eos recusandae laborum eaque non eius iure suscipit.
                </p>
            </div>
        </div>
    </div>
    <!-- End Single Card  -->

    <!-- Start Single Card  -->
    <div class="col-lg-4 col-md-6 col-sm-6 col-12">
        <div class="rbt-card rbt-column-direction-card">
            <div class="icon-box blue-icon-box">
                <i class="feather-book"></i>
            </div>
            <div class="card-body">
                <h5 class="card-title"><a href="about.html">Guaranteed Career Guidelines.</a></h5>
                <p class="card-text">
                    Ab blanditiis pariatur sapiente consequuntur, tempora aperiam quod itaque autem facere provident.
                </p>
            </div>
        </div>
    </div>
    <!-- End Single Card  -->

</div>
<!-- End Card Area -->