<!-- Start About Area -->
<div class="rbt-about-area bg-color-white rbt-section-gap">
    <div class="container">
        <div class="row row--15 mt_dec--30">
            <div class="col-lg-6 col-md-12 col-sm-12 col-12 mt--30">
                <div class="section-title">
                    <h3 class="title">Know About <span>E-Learn</span> Learning Platform</h3>
                </div>
                <div class="rbt-card rbt-column-direction-card">
                    <div class="icon-box green-icon-box">
                        <i class="feather-heart"></i>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"><a href="about.html">Explore thousands of courses.</a></h5>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, aliquid mollitia.
                        </p>
                    </div>
                </div>
                <div class="rbt-card rbt-column-direction-card">
                    <div class="icon-box red-icon-box">
                        <i class="feather-monitor"></i>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"><a href="about.html">Experienced Teacher's service.</a></h5>
                        <p class="card-text">
                            Sed distinctio repudiandae eos recusandae laborum eaque non eius iure suscipit.
                        </p>
                    </div>
                </div>
                <div class="rbt-card rbt-column-direction-card">
                    <div class="icon-box blue-icon-box">
                        <i class="feather-book"></i>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"><a href="about.html">Guaranteed Career Guidelines.</a></h5>
                        <p class="card-text">
                            Ab blanditiis pariatur sapiente consequuntur, tempora aperiam quod itaque autem facere provident.
                        </p>
                    </div>
                </div>
                <div class="about-btn">
                    <a class="rbt-btn btn-md btn-primary" href="about.html">Know More<i class="feather-arrow-right"></i></a>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-12 mt--30">
                <div class="about-img">
                    <img src="assets/images/illustration.png" alt="illustration img">
                </div>
            </div>
        </div>

        <div class="row row--15 rbt-badge-area">

            <!-- Start Single Card  -->
            <div class="col-lg-4 col-md-6 col-sm-6 col-12 mt--30" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
                <div class="rbt-card rbt-badge-card badge-bg-1">
                    <div class="badge-card-img">
                        <img src="assets/images/card-img/badge/badge-card-img-1.png" alt="Badge Card Image">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"><a href="about.html">Learn new skills</a></h5>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet consectetur adipisicing.
                        </p>
                    </div>
                </div>
            </div>
            <!-- End Single Card  -->

            <!-- Start Single Card  -->
            <div class="col-lg-4 col-md-6 col-sm-6 col-12 mt--30" data-sal-delay="200" data-sal="slide-up" data-sal-duration="800">
                <div class="rbt-card rbt-badge-card badge-bg-2">
                    <div class="badge-card-img">
                        <img src="assets/images/card-img/badge/badge-card-img-2.png" alt="Badge Card Image">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"><a href="about.html">Expert Instructor</a></h5>
                        <p class="card-text">
                            Placeat nam libero sint maxime facere expedita.
                        </p>
                    </div>
                </div>
            </div>
            <!-- End Single Card  -->

            <!-- Start Single Card  -->
            <div class="col-lg-4 col-md-6 col-sm-6 col-12 mt--30" data-sal-delay="250" data-sal="slide-up" data-sal-duration="800">
                <div class="rbt-card rbt-badge-card badge-bg-3">
                    <div class="badge-card-img">
                        <img src="assets/images/card-img/badge/badge-card-img-3.png" alt="Badge Card Image">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"><a href="about.html">Lifetime Access</a></h5>
                        <p class="card-text">
                            Laborum optio facere dolore earum quis impedit.
                        </p>
                    </div>
                </div>
            </div>
            <!-- End Single Card  -->

        </div>

    </div>
</div>
<!-- End About Area -->